@import 'theme/grow/variables';
@import 'theme/grow/badges';
@import 'theme/grow/buttons';
//@import 'theme/grow/breadcrumbs';
@import 'theme/grow/cards';
@import 'theme/grow/chips';
@import 'theme/grow/containers';
@import 'theme/grow/forms';
@import 'theme/grow/general';
@import 'theme/grow/helpers';
@import 'theme/grow/modal';
@import 'theme/grow/navigation';
@import 'theme/grow/toaster';
@import 'theme/grow/typography';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $body-color;
}

html {
  font-size: 16px;
  font-family: $font-family-sans-serif;
}

body {
  background: $body-bg;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}