.side-panel {
  position: relative;
  height: 100vh;
  min-width: 300px;
  max-width: 300px;

  .sp-card {
    border: 0;
    position: relative;
    height: 100%;

    .sp-card-body {
      padding: 0;
    }
  }
}
