.system-node-details {
  display: flex;
  flex-direction: column;

  img {
    display: block;
    width: 128px;
    height: 128px;
    margin: auto;
    border-radius: 50%;
  }

  .status {
    display: flex;
    flex-direction: row;
    align-content: space-between !important;
    align-items: center;
    
    label {
      
      font-size: 0.8rem;
      font-weight: thin;
    }
  }
}