<h3 class="text-primary">Preferences</h3>
<div [formGroup]="form">
<div class="">
  <div class="form-group form-group-inline">
    <label for="scale">Scale</label>
    <select 
        id="scale" 
        name="scale" 
        class="form-control" 
        [ngClass]="{ 'is-invalid' : form.controls?.scale.invalid && form.controls?.scale.touched }"
        formControlName="scale">
      <option [value]="null" disabled selected hidden>Select a scale</option>
      <ng-container *ngFor="let key of TemperatureScale | keys">
          <option [value]="TemperatureScale[key]">{{ key | titlecase }}</option>
      </ng-container>
    </select>
  </div>
  <div class="form-group form-group-inline">
    <label for="interval">Interval (ms)</label>
    <input 
        id="interval" 
        name="interval" 
        type="number" 
        min="1000" 
        class="form-control" 
        [ngClass]="{ 'is-invalid' : form.controls?.interval.invalid && form.controls?.interval.touched }"
        formControlName="interval" />
  </div>
</div>
<div>
    <div class="form-group form-group-inline" formGroupName="threshold">
        <label for="min">Min</label>
        <input 
            id="min" 
            name="min" 
            type="number" 
            min="0" 
            max="100" 
            class="form-control" 
            [ngClass]="{ 'is-invalid' : form.controls?.threshold?.controls.min.invalid && form.controls?.threshold?.controls.min.touched }"
            formControlName="min" />
      </div>
      <div class="form-group form-group-inline" formGroupName="threshold">
        <label for="min">Max</label>
        <input 
            id="min" 
            name="min" 
            type="number" 
            min="0" 
            max="100" 
            class="form-control" 
            [ngClass]="{ 'is-invalid' : form.controls?.threshold?.controls.max.invalid && form.controls?.threshold?.controls.max.touched }"
            formControlName="max" />
      </div>
  <div class="form-group form-group-inline">
    <label for="interval">Notifications</label>
    <input type="checkbox" class="form-control">
  </div>
</div>
</div>