<ul class="list-group">
  <li class="list-group-item list-group-item-action">
    <div class="text-left">
      Temperature
      <i class="fas fa-xl fa-thermometer-three-quarters float-right"></i>
    </div>
  </li>
  <li class="list-group-item list-group-item-action">
    <div class="text-left">
      Humidity
      <i class="fas fa-xl fa-tint float-right"></i>
    </div>
  </li>
  <li class="list-group-item list-group-item-action">
    <div class="text-left">
      Nutrients
      <i class="fas fa-xl fa-ruler float-right"></i>
    </div>
  </li>
</ul>
