<div class="card" >
  <div class="card-body m-0 p-2">

    <!-- Tile Title-->
    <h4 class="mb-1">Relays</h4>
    
    <!-- Relay List -->
    <ul class="relay-list" *ngIf="relays">
      <ng-container *ngFor="let relay of relays">
        <li class="relay-item">
          <gs-toggle-switch
              [label]="relay?.alias || 'NA'"
              (onToggle)="onToggle($event)">
          </gs-toggle-switch>
        </li>
      </ng-container>
    </ul>

    <!-- Nothing to dispaly -->
    <div class="alert alert-info" *ngIf="!relays || relays.length <= 0">
      <span class="text-info">There are no relays!</span>
    </div>

  </div>
</div>