<div class="toaster-container" [ngClass]="options.location">
  <div class="toast-message toast-default">
    <div class="toast-heading">
      <h4 class="toast-title text-bold">System</h4>
      <div class="toast-dismiss text-bold">&times;</div>
    </div>
    <div class="toast-content">
      <p class="toast-text">This is the toast message</p>
    </div>
  </div>
  <div class="toast-message toast-success">
      <div class="toast-heading">
        <h4 class="toast-title text-bold">Success</h4>
        <div class="toast-dismiss text-bold">&times;</div>
      </div>
      <div class="toast-content">
        <p class="toast-text">This is the toast message</p>
      </div>
    </div>
    <div class="toast-message toast-info">
        <div class="toast-heading">
          <h4 class="toast-title text-bold">Info</h4>
          <div class="toast-dismiss text-bold">&times;</div>
        </div>
        <div class="toast-content">
          <p class="toast-text">This is the toast message</p>
        </div>
      </div>
      <div class="toast-message toast-warning">
          <div class="toast-heading">
            <h4 class="toast-title text-bold">Warning</h4>
            <div class="toast-dismiss text-bold">&times;</div>
          </div>
          <div class="toast-content">
            <p class="toast-text">This is the toast message</p>
          </div>
        </div>
        <div class="toast-message toast-danger">
            <div class="toast-heading">
              <h4 class="toast-title text-bold">Danger</h4>
              <div class="toast-dismiss text-bold">&times;</div>
            </div>
            <div class="toast-content">
              <p class="toast-text">This is the toast message</p>
            </div>
          </div>
</div>