<!-- BEGIN : LOGIN TEMPLATE -->
<div class="container">
  <div class="container-fluid">
    <div class="row" style="height: 100vh;">
      <div class="col-12 col-sm-8 col-md-6 col-lg-5 ml-auto mr-auto mb-auto mt-auto">

        <!-- LOGIN CARD -->
        <div class="card">
          <div class="card-header login-header">
            <img class="img-fluid login-logo" src="assets/img/dropflowerlogo.svg" />
          </div>
          <div class="card-body">
            <h2 class="text-center mb-4">Sign In</h2>
            <grow-login-form
                #loginForm
                (onSubmit)="onSubmit($event)">
              </grow-login-form>
          </div>
        </div>
        <!-- END LOGIN CARD -->

      </div>
    </div>
  </div>
</div>
<!-- END : LOGIN -->
