.grid-container {
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: minmax(100px, auto);
  margin: 1.5rem;
  grid-auto-flow: dense;
  grid-gap: 1rem;

  .grid-box {
    display: grid;
    font-size: 20px;
    padding: 20px;
    place-items: center;
    color: #fff;
    text-align: center;
    transition: 0.5s;
    background: $gray-200;

    .content {
      padding: 0;
      margin: 0;
    }

    &:hover {
      background: darken($gray-200, 5%);
    }

    &:nth-child(1) {
      grid-column: span 2;
    }
  }
}