// Helpers
.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.text-primary {
  color: $primary;
}

.text-secondary {
  color: $secondary;
}

.text-info {
  color: $info;
}

.text-warning {
  color: $warning;
}

.text-danger {
  color: $danger;
}

.text-light {
  color: $light;
}

.text-dark {
  color: $dark;
}