// Helpers
.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.text-primary {
  color: darken($primary, 25%);
}

.text-secondary {
  color: darken($secondary, 25%);
}

.text-info {
  color: darken($info, 25%);
}

.text-warning {
  color: darken($warning, 25%);
}

.text-danger {
  color: darken($danger, 25%);
}

.text-light {
  color: darken($light, 25%);
}

.text-dark {
  color: darken($dark, 25%);
}