@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

// GROW SYSTEM THEME

//
// Color system
//

$white:    #fff !default;
$gray-100: #EBEBEB !default;
$gray-200: #4E5D6C !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #DF691A !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #d9534f !default;
$orange:  #f0ad4e !default;
$yellow:  #f0ad4e !default;
$green:   #5cb85c !default;
$teal:    #20c997 !default;
$cyan:    #5bc0de !default;

$primary:       $green !default;
$secondary:     $gray-200 !default;
$success:       $blue !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         lighten($gray-200, 25%) !default;
$dark:          $gray-200 !default;

$yiq-contrasted-threshold:  185 !default;

// Body

$body-bg:                   #2B3E50 !default;
$body-color:                $gray-100 !default;

// Transitions
$transition-bg:               background 250ms;
$transistion-opacity:         opacity 250ms;

// Components

$padding:                     1rem !default;
$card-padding:                4rem !default;
$border-radius:               0 !default;
$border-radius-lg:            0 !default;
$border-radius-sm:            0 !default;

// Fonts
$font-family-sans-serif:      "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$text-muted:                  rgba(255,255,255,.4) !default;
