<form (ngSubmit)="submit(form.value)" [formGroup]="form" class="form" novalidate>

  <!-- INPUT USERNAME -->
  <div class="form-group mb-1 ml-1 mr-1">
    <label class="sr-only" for="username">Username</label>
    <input
        type="text"
        class="col-12 form-control form-control-lg block text-center"
        [ngClass]="{ 'is-invalid' : form.controls.username.invalid && form.controls.username.touched }"
        id="username"
        placeholder="Username"
        formControlName="username">
    <small 
        class="text-warning text-bold"
        *ngIf="form.controls.username.invalid && form.controls.username.touched">
      Username is required
    </small>
  </div>

  <!-- INPUT PASSWORD -->
  <div class="form-group mb-1 ml-1 mr-1">
    <label class="sr-only" for="password">Password</label>
    <input
        type="password"
        class="form-control form-control-lg text-center block"
        [ngClass]="{ 'is-invalid' : form.controls.password.invalid && form.controls.password.touched }"
        id="password"
        placeholder="Password"
        formControlName="password" />
      <small 
          class="text-warning text-bold"
          *ngIf="form.controls.password.invalid && form.controls.password.touched">
        Password is required
      </small>
  </div>

  <!-- FORM BUTTONS -->
  <div class="form-row mb-1 ml-1 mr-1">
    <button
        type="submit"
        class="col-12 btn btn-lg btn-primary block"
        [disabled]="!form.valid">
      Login
    </button>
  </div>

</form>
  