<nav id="navigation" class="navbar">

  <!-- Navbar Left -->
  <div id="navigation-left" class="navbar-nav">
    <ul>
      <li class="branding">
        <a href="#">
          <img src="assets/img/logo-circle.png" />
        </a>
      </li>
      
      <!-- System Overview -->
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a href="#" [routerLink]="['/system']">
          <i class="fas fa-project-diagram fa-fw"></i>
        </a>
      </li>

      <!-- System Settings -->
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a href="#" [routerLink]="['settings']">
          <i class="fas fa-cog fa-fw"></i>
        </a>
      </li>
    </ul>
  </div>

  <!-- Navbar Right -->
  <div id="navigation-right" class="navbar-nav">
    <ul>
      <li>
        <a href="#" (click)="logout()">
          <i class="fas fa-lock fa-fw"></i>
        </a>
      </li>
    </ul>
  </div>

</nav>
