<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-info" style="padding: 0;">

  <!-- Navigation Bar Branding -->
  <div class="navbar-header bg-primary">
    <a href="#" class="navbar-brand mr-0 text-center" style="padding-top: 1rem; padding-bottom: 1rem; width: 300px;">Grow System</a>
    <button class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar-main">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <!-- Navigation Bar Links -->
  <div class="navbar-collapse collapse" id="navbar-main">

    <!-- Left Nav Links -->
    <ul class="navbar-nav mr-auto ml-4">
      <li class="nav-item">
        <a class="nav-link active"
            [routerLink]="['/system']"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact:true}">
          <i class="fas fa-project-diagram fa-fw"></i>
          System Overview
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
            [routerLink]="['settings']"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact:true}">
            <i class="fas fa-cog fa-fw"></i>
          Settings
        </a>
      </li>
    </ul>

    <!-- Right Nav Links -->
    <ul class="navbar-nav ml-auto mr-4">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="logout()" >
          <i class="fas fa-lock fa-fw"></i>
          Logout
        </a>
      </li>
    </ul>

  </div>
</div>
  