<div [@fadeAnimation]>
  <gs-layout-three-column>

    <!-- SIDE PANEL : LEFT -->
    <gs-side-panel column-one>
      <h5>Col 1</h5>>
    </gs-side-panel>

    <!-- MAIN CONTENT : CENTER -->
    <div class="container-fluid" column-two>
      <div class="row mb-3 mt-3 ml-3 mr-3">
        <div class="col-sm-12">
          <gs-relay-group [relays]="relays"></gs-relay-group>
        </div>
      </div>
    </div>

    <!-- SIDE PANEL : RIGHT -->
    <gs-side-panel column-three>
      <h5>Col 3</h5>
      <!-- <grow-dashboard-panel-right content></grow-dashboard-panel-right> -->
    </gs-side-panel>



  </gs-layout-three-column>
</div>
  