.navbar {
  display: flex;
  position: sticky;
  z-index: 100;
  top: 0;
  justify-content: space-between;
  background: $info;

  .navbar-nav {
    > ul {
      display: flex;
      background: $primary;

      li {
        a {
          text-decoration: none;
          display: block;
          padding: 2rem 2.5rem;
          transition: $transition-bg;
          position: relative;

          &:hover {
            background: darken($primary, 10%);
            color: white;
          }

          ul.dropdown {
            background: darken($gray-200, 5%);
            position: absolute;
            top: 83px;
            right: 0;
            z-index: 10;
            display: none;

            
            li {
              display: block;
              min-width: 300px;
              border-bottom: 1px solid darken($gray-200, 7%);

              a {
                transition: $transition-bg;
                cursor: pointer;

                i {
                  margin-right: 1rem !important;
                }
              }
              
              a:hover {
                background: darken($gray-200, 2%);
              }
            } // end dropdown ul li
          }// end dropdown ul
        }// end archor

        &.active {
          background: darken($primary, 10%);
        }

        &.branding {
          a {
            padding: 0 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            img {
              max-height: 42px;
            }
          }
        }

        &:hover {
          ul.dropdown {
            display: block;
          }
        }
      }// end navbar-nav ul li
    }// end navbar-nav ul
  } // endn navbar-nav
} // end navbar