<!-- <div [@fadeAnimation]> -->
  <!-- MAIN CONTENT : CENTER -->
  <!-- <div class="container-fluid">
    <div class="row">
      <div class="col m-2" style="width: 300px;">
        <gs-tile-system-node-details [node]="node"></gs-tile-system-node-details>
      </div>
      <div class="col m-2" style="width: 300px;">
        <gs-tile-relays [relays]="relays"></gs-tile-relays>
      </div>
      <div class="col m-2" style="width: 300px;">
        <div *ngFor="let sensor of tempHumSensors">
          <gs-tile-temphum [sensor]="sensor"></gs-tile-temphum>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div>
  <gs-modal [options]="options">
    <ng-container modalBody>
      <gs-component-form-add></gs-component-form-add>
    </ng-container>
  </gs-modal>
</div>

<div [@fadeAnimation]>
  <gs-grid-container>
    <gs-grid-box>
      <gs-tile-system-node-details [node]="node"></gs-tile-system-node-details>
    </gs-grid-box>
    <gs-grid-box>
      <gs-tile-relays [relays]="relays"></gs-tile-relays>
    </gs-grid-box>

    <ng-container *ngFor="let sensor of tempHumSensors">
      <gs-grid-box>
        <gs-tile-temphum [sensor]="sensor"></gs-tile-temphum>
      </gs-grid-box>
    </ng-container>

    <gs-grid-box>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, fuga, non impedit esse fugiat, minus repellendus nobis nostrum architecto</p>
    </gs-grid-box>
  </gs-grid-container>
</div>
  