<div [@fadeAnimation]>
  <!-- MAIN CONTENT : CENTER -->
  <div class="container-fluid" column-two>
    <div class="row mb-3 mt-3 ml-3 mr-3">
      <div class="col-sm-12">
        <gs-relay-group [relays]="relays"></gs-relay-group>
        <button class="btn btn-primary m-1" role="button" type="button" (click)="sendToast()">Toast</button>
        <button class="btn btn-info" role="button" type="button" (click)="showModal()">Modal</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card card-body m-1" style="width: 500px;">
          <gs-component-form-add></gs-component-form-add>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <gs-modal [options]="options">
    <ng-container modalBody>
      <gs-component-form-add></gs-component-form-add>
    </ng-container>
  </gs-modal>
</div>
  